@font-face {
	font-family: 'Linearicons-Free';
	src:url('../fonts/Linearicons-Free.eot?7y0ygv');
	src:url('../fonts/Linearicons-Free.eot?#iefix7y0ygv') format('embedded-opentype'),
		url('../fonts/Linearicons-Free.woff2?7y0ygv') format('woff2'),
		url('../fonts/Linearicons-Free.woff?7y0ygv') format('woff'),
		url('../fonts/Linearicons-Free.ttf?7y0ygv') format('truetype'),
		url('../fonts/Linearicons-Free.svg?7y0ygv#Linearicons-Free') format('svg');
	font-weight: normal;
	font-style: normal;
}

.lnr {
	font-family: 'Linearicons-Free';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	
	/* Enable Ligatures ================ */
	letter-spacing: 0;
	-webkit-font-feature-settings: "liga";
	-moz-font-feature-settings: "liga=1";
	-moz-font-feature-settings: "liga";
	-ms-font-feature-settings: "liga" 1;
	-o-font-feature-settings: "liga";
	font-feature-settings: "liga";

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.lnr-heart:before {
	content: "\e813";
}

.lnr-cart:before {
	content: "\e82e";
}
      
.lnr-alarm:before {
	content: "\e858";
}

.lnr-envelope:before {
	content: "\e818";
}

.lnr-bubble:before {
	content: "\e83f";
}

.lnr-clock:before {
	content: "\e864";
}

.lnr-eye:before {
	content: "\e81b";
}

.lnr-phone-handset:before {
	content: "\e830";
}

.lnr-map-marker:before {
	content: "\e833";
}
