html {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3 {
  margin: 0;
  letter-spacing: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  color: $grey;
  cursor: pointer;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}

body {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: $grey;
  line-height: 30px;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-max {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

button {
  cursor: pointer;
  outline: transparent;
}

.button-a {
  height: 60px;
  border: 1px solid #fff;
  border-radius: 40px;
  color: #fff;
  line-height: 58px;
  text-align: center;
  transition: all 0.6s;
  &:hover {
    background-color: #fff;
    color: $blue;
  }
}

.title {
  &__title {
    text-align: center;
    font-size: 36px;
    color: #000;
    margin-bottom: 30px;
    span {
      color: $blue;
    }
  }
  &__text {
    text-align: center;
    width: 700px;
    margin: 0 auto 50px;
  }
}

.title-b {
  font-size: 30px;
  color: #000;
}

.title-m {
  font-size: 24px;
  color: #000;
}

.title-s {
  font-size: 20px;
  color: #000;
}

.breadcrumbs {
  &__list {
    color: #bfcada;
    li {
      a{
        color: #bfcada;
        transition: all .6s;
        &:hover{
          color:#fff;
          font-weight: 500;
        }
      }
      & + li {
        padding-left: 24px;
        display: inline-block;
        position: relative;
        &::before {
          content: "/";
          position: absolute;
          left: 7px;
        }
      }
      &:last-child{
        a{
          color:#fff;
          font-weight: 500;
        }
      }
    }
  }
  
}
