@media screen and (max-width: 1190px) {
  .items__slider {
    .products__item {
      //height: 456px;
      &-img,
      &-btn {
        min-width: 450px;
      }

      &-bt {
        margin-bottom: 25px;
      }
      &-info {
        padding: 10px;
      }
      &-star {
        margin-right: 10px;
      }
    }
  }
}
@media screen and (max-width: 1030px) {
  .footer__inner {
    flex-wrap: wrap;
    padding: 50px 0;
  }
  .footer__col-first {
    min-width: 100%;
    padding-bottom: 10px;
    border-bottom: 1px solid $llgrey;
    margin-bottom: 20px;
    a {
      display: block;
    }
  }
  .drop-down__list.drop-down__page {
    flex-wrap: wrap;
    left: auto;
    right: 0;
    width: 470px;
  }
  .drop-down__items {
    width: 100%;
    & + & {
      margin-top: 20px;
    }
  }
}
@media screen and (max-width: 980px) {
  .items__slider {
    .products__item {
      &-box {
        padding: 25px;
      }
      &-img,
      &-btn {
        min-width: 400px;
      }
    }
  }
}

@media screen and (max-width: 960px) {
  .header__bottom-inner {
    position: static;
  }
  .header__bottom {
    position: relative;
  }
  .header__menu-list {
    display: none;
    width: 100%;
    position: absolute;
    top: 82px;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: #fff;
    border-top: 2px solid $blue;
    border-bottom: 3px solid $blue;
    & > li {
      display: block;
      & + li {
        margin-left: 0;
      }
      & > a {
        display: block;
        text-align: center;
        height: auto;
        width: 100%;
        border-bottom: 1px solid $llgrey;
        &:hover {
          color: #fff;
          background-color: $blue;
        }
      }
    }
  }
  .drop-down {
    .drop-down__list {
      width: 100%;
      border-top: 0px solid transparent;
      border-bottom: 1px solid $blue;
      transition: all 0s;
      display: none;
      position: static;
      height: auto;
      border-top-width: 2px;
      overflow: visible;
      padding: 20px;
      a {
        line-height: 42px;
      }
      .drop-down__item {
        overflow: visible;
      }
    }
  }

  .drop-down__list.drop-down__page {
    display: none;
    .drop-down__item {
      justify-content: flex-start;
      ul + ul {
        margin-left: 30px;
      }
    }
  }

  .drop-down__list.active {
    display: block;
  }

  .header__menu-btn {
    display: block;
    width: 30px;
    cursor: pointer;
    margin-right: 10px;
    div {
      height: 4px;
      background-color: $blue;
      & + div {
        margin-top: 5px;
      }
    }
  }

  .main {
    padding: 100px 0 140px;
    .main__title {
      font-size: 50px;
      line-height: 60px;
    }
    .main__text {
      margin-top: 20px;
      line-height: 30px;
      margin-bottom: 50px;
    }
  }
}
@media screen and(max-width: 890px) {
  .header__seller-alarm,
  .header__seller-message {
    display: none;
  }
  .search__form form .search__form-btn {
    max-width: 150px;
    margin-left: 20px;
  }
  .items__slider {
    .products__item {
      &-box {
        padding-bottom: 5px;
      }
    }
  }
  .features__inner {
    padding: 30px 0 40px;
  }
}

@media screen and(max-width: 850px) {
  .items__slider {
    .products__item {
      margin: 0 auto;
      display: block;
      max-width: 400px;
      &-img {
        height: 230px;
      }
    }
  }
}

@media screen and (max-width: 750px) {
  .header__user-foto {
    margin-left: 10px;
  }
  .header__user-menu {
    z-index: 2;
    position: absolute;
    display: block;
    right: 0;
    top: 0;
    width: 70px;
    height: 100px;
    background-color: $blue;
    color: #fff;
    font-weight: 900;
    font-family: "Linearicons-Free";
    font-size: 40px;
    &::before {
      @include topLeft50;
    }
  }
  .header__user {
    @include trans06;
    height: 100px;
    background-color: #eef1f3;
    transform: translateX(100%);
    &.active {
      z-index: 1;
      height: 100px;
      transform: translateX(-35%);
    }
  }
  .header__seller-btn {
    display: none;
  }
  .header__seller-info {
    margin-top: 20px;
  }
  .header__seller-menu {
    .cart__item-img {
      display: none;
    }
  }
  .cart__menu {
    width: 320px;
  }
  .main {
    padding: 50px 0 100px;
  }
  .search__form form .search__form-select {
    min-width: 170px;
    select {
      width: 170px;
      padding-left: 20px;
      color: #555;
      outline: transparent;
    }
  }
  .features__inner {
    flex-wrap: wrap;
    .features__item {
      max-width: 70%;
    }
  }

  .footer__inner {
    justify-content: flex-start;
  }
  .footer__col-l + .footer__col-l {
    margin-left: 30%;
  }
  .footer__col-newsletter {
    min-width: 100%;
    padding-top: 10px;
    border-top: 1px solid $llgrey;
    margin-top: 20px;
  }
}
@media screen and (max-width: 640px) {
  .search__form form .search__form-select {
    min-width: 150px;
    select {
      width: 150px;
      padding-left: 20px;
      color: #555;
      outline: transparent;
    }
  }
  .search__form {
    height: 140px;
    padding: 10px 20px;
    form {
      flex-wrap: wrap;
      .search__form-btn {
        max-width: 100%;
        margin-left: 0;
        margin-top: 10px;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .header__seller-cart {
    display: none;
  }
  .items__title-btn {
    display: none;
  }
  .items__title-text {
    margin: 0 auto;
  }
}
@media screen and (max-width: 470px) {
  .header__logo-text {
    font-size: 22px;
    span {
      display: block;
    }
  }
  .header__search form {
    min-width: 260px;
  }
  .drop-down__list.drop-down__page {
    .drop-down__item {
      flex-wrap: wrap;
      ul {
        width: 100%;
        & + ul {
          margin-left: 0;
        }
      }
    }
  }
  .main {
    padding: 30px 0 100px;
    .main__title {
      font-size: 30px;
      line-height: 40px;
    }
    .main__text {
      margin-top: 10px;
      font-size: 18px;
      line-height: 25px;
      margin-bottom: 20px;
    }
    .main__btn {
      a {
        display: inline-block;
      }
      .button-a + .button-a {
        margin-left: 0px;
        margin-top: 20px;
      }
    }
  }
  .items__slider .products__item-info-box {
    flex-wrap: wrap;
    .products__item-buy {
      width: 38%;
      margin-top: 7px;
    }
  }
  .search__form {
    height: 140px;
    padding: 10px 20px;
    form {
      .search__form-select {
        display: none;
      }
    }
  }
  .features {
    margin-top: -70px;
  }
  .features__inner {
    padding: 10px 0 10px;
    .features__item {
      max-width: 100%;
      .features__item-title {
        margin: 10px 0 10px;
      }
    }
  }
  .items__title-text {
    font-size: 24px;
  }
  .banner__inner {
    padding: 50px 0;
    .banner__title {
      font-size: 30px;
      margin-bottom: 10px;
    }
  }

  .footer__col-title {
    margin-bottom: 25px;
  }
  .footer__col-l + .footer__col-l {
    margin-left: 10%;
  }
}

@media screen and (max-width: 420px) {
  .header__search form {
    min-width: 240px;
  }

  .user__menu {
    right: auto;
    left: 0;
  }

  .search__form {
    form {
      min-width: 100%;
    }
  }
  .items__slider .products__item-bt {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    a:last-child {
      margin-top: 5px;
    }
    a:first-child {
      margin-right:20px;
    }
  }
  .footer__col-l + .footer__col-l {
    margin-left: 0;
    padding-top: 10px;
    border-top: 1px solid $llgrey;
    margin-top: 20px;
  }
  .footer__col-l {
    min-width: 100%;
  }
  .footer__col-search.header__search {
    form {
      min-width: 260px;
      width: 100%;
      button {
        width: 80px;
      }
    }
  }
  .footer__col-social {
    margin-top: 20px;
    li,
    li + li {
      margin-left: 0;
      margin-top: 10px;
      margin-right: 15%;
    }
  }
}
//

//min-width:
@media screen and (min-width: 961px) {
  .header__menu-list {
    display: block !important;
  }
}
