@import 'vars';
@import 'global';
.header__top {
    background-color: #eef1f3;
}

.header__top-inner {
    height: 100px;
    & a {
        color: #000;
    }
}

.header__top-inner,
.header__logo,
.header__seller,
.header__user,
.header__bottom-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    &-img {
        margin: 0 7px;
        width: 50px;
        height: 50px;
    }
    &-text {
        font-size: 30px;
        line-height: 28px;
        font-weight: 700;
        & span {
            color: $blue;
        }
    }
}

.header__seller {
    &-btn {
        background-color: $blue;
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
        width: 140px;
        height: 36px;
        border-radius: 20px;
        margin-right: 50px;
        text-align: center;
        & a {
            color: #fff;
            font-size: 14px;
            line-height: 35px;
        }
    }
}

.header__seller-icon {}

.header__user {
    &-foto {
        padding: 0 40px 0 20px;
    }
    &-name {
        font-weight: 500;
        color: $dgrey;
        font-size: 16px;
        line-height: 22px;
    }
    &-name span {
        display: block;
        color: $blue;
    }
}

.header__bottom {}

.header__bottom-inner {
    height: 82px;
}

.header__menu {}

.header__menu-list {
    & li {
        & a {
            font-size: 15px;
            line-height: 42px;
            color: $dgrey;
            text-transform: uppercase;
            font-weight: 600;
            transition: all .8s;
            &:hover {
                color: $blue;
            }
        }
        &+li {
            margin-left: 35px;
        }
    }
}

.header__search {
    position: relative;
    form {
        min-width: 360px;
        input {
            width: 100%;
            height: 44px;
            border: 1px solid rgb(217, 223, 229);
            border-radius: 25px;
            padding-left: 20px;
            outline: transparent;
            &::placeholder {
                color: #898f96;
                font-size: 15px;
            }
        }
        button {
            color: transparent;
            border: none;
            position: absolute;
            top: 0;
            right: 0;
            width: 70px;
            height: 44px;
            border-radius: 25px;
            background-color: $blue;
        }
    }
}